.add-category-popup-main{
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    z-index: 11;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    .add-category-popup{
        background-color: white;
        height: 30vh;
        width: 70%;
        position: relative;
        top: 5vh;
        padding: 2rem;
        
        box-shadow: 0px 2px 15px rgba($color: #3a3a3a, $alpha: 1.0);
        border-radius: 10px 10px 10px 10px;

        .add-category-popup-close-btn{
            font-size: 2rem;
            position: absolute;
            top: 2%;
            right: 2%;
        }
        
    }
}