.order-main{
    padding: 14vh 6rem 0;
    .order-heading{
        display: grid;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        align-items: center;
        font-weight: 600;
        padding: 1rem 0;
    }
    .order-hr{
        width: 100%;
        border-top: 1px solid black;
        border-bottom: none;
        margin-block: 0;
        margin-inline: 0;
    }
    .order-text-center{
        text-align: center;
    }
    .order{
        display: grid;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        align-items: center;
        padding: 1rem 0;
    }
}